* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 20px;
}

#notify-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#output strong{
    color: #2696b8;
}

button{
    margin-top: 10px;
    background: #2696b8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button:hover {
    background: #26819c;
}